<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            {{>header}}
        </header>
        <h1>This is static page For handelbars</h1>
        <img class="img-fluid" src="/images/my.jpg" alt="">
        <p>{{email}}</p>
        {{aboutContent}}
        <footer>
            {{>footer}}
        </footer>
    </body>
</html>